.top-content
  .inner-bg
    .container
      .row
        .col-sm-8.col-sm-offset-2.text.min-h
          h1 Thank you for adding this user!!!!!
          a.btn.col-md-2(type='submit', href='/listusers') User Listing
          a.btn(href='/index', type='submit') Back
